a {
    color: #000000;
}
div.imagenes {
    width: 277.500px;
    height: 157.750px;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
    }
}
.row-cards {
    display: block!important;
}
.i-personas {
    font-size: large;
    position: relative;
    top: 3px;
}
.datos {
    line-height: 1;
}
.estrellas {
    margin-top: 6px!important;
    margin-bottom: -3px!important;
}
.horario {
    margin-left: 70px;
}
