a {
    color: #000000;
}
div.imagenes {
    width: 277.500px;
    height: 157.750px;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
    }
}
div.img-modal {
  width: 667.297px;
  height: 300px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}
.row-cards {
    display: block!important;
}
.i-personas {
    font-size: large;
    position: relative;
    top: 3px;
}
.datos {
    line-height: 1;
}
.estrellas {
    margin-top: 6px!important;
    margin-bottom: -3px!important;
}
.horario {
    margin-left: 70px;
    .lunes{margin-left: 26px}
    .martes{margin-left: 18px}
    .jueves{margin-left: 21px}
    .viernes{margin-left: 16px}
    .sabado{margin-left: 16px}
    .domingo{margin-left: 2px}
}
.modal-dialog{
    max-width: 600px;
}
