<div class="container" id="clasificacion">
  <div class="section">
    <a class="btn-floating btn-small waves-effect waves-light red right" *ngIf="retroceder" (click)="atras($atras)"><i
        class="material-icons">reply</i></a>
    <a class="btn-floating btn-small waves-effect waves-light red left" *ngIf="inicio" (click)="reinicio($reiniciar)"><i
        class="material-icons">reply_all</i></a>
    <h3 class="center-align">{{title}}</h3>

    <!--   tipos!   -->
    <div class="row" *ngIf="tipos">
      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurantes($mostrarR)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Restaurantes</h5>
                <p class="light text-justify">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="bares($mostrarB)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Bares</h5>
                <p class="light text-justify">Encuentra todos las opciones en bares de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="cafes($mostrarC)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Cafés</h5>
                <p class="light text-justify">Encuentra todos las opciones en cafés de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--   especialidadR!   -->
    <div class="row" *ngIf="especialidadR">
      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurante1($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Parrilla</h5>
                <p class="light text-justify">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurante2($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Oriental</h5>
                <p class="light text-justify">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurante3($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Italiana</h5>
                <p class="light text-justify">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--   especialidadB!   -->
    <div class="row row-cards" *ngIf="especialidadB">
      <div *ngFor="let lugar of servicioService.lugares.respuesta">
        <div class="col s12 m4" *ngIf="lugar.lugar.tipo=='Bar'">
          <a href="javascript:;">
            <div class="card z-depth-3">
              <div class="card-content">
                <div class="icon-block">
                  <div class="imagenes">
                    <img [src]="lugar.lugar.imagen" class="responsive-img" alt="" height="125px">
                  </div>
                  <h5 class="center">{{lugar.lugar.nombre}}</h5>
                  <p class="light text-justify">{{lugar.lugar.descripcion}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!--   especialidadC!   -->
    <div class="row row-cards" *ngIf="especialidadC">
      <div *ngFor="let lugar of servicioService.lugares.respuesta">
        <div class="col s12 m4" *ngIf="lugar.lugar.especialidad=='Cafe'">
          <a href="javascript:;">
            <div class="card z-depth-3">
              <div class="card-content">
                <div class="icon-block">
                  <div class="imagenes">
                     <img [src]="lugar.lugar.imagen" class="responsive-img" alt="" height="125px">
                  </div>
                  <h5 class="center">{{lugar.lugar.nombre}}</h5>
                  <p class="light text-justify">{{lugar.lugar.descripcion}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!--   Restaurantes parrilla!   -->
    <div class="row row-cards" *ngIf="parrilla">
      <div *ngFor="let lugar of servicioService.lugares.respuesta">
        <div class="col s12 m4" *ngIf="lugar.lugar.especialidad=='Parrilla'">
          <a href="javascript:;" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="mostrarLugar(lugar)">
            <div class="card z-depth-3">
              <div class="card-content">
                <div class="icon-block">
                  <div class="imagenes">
                    <img [src]="lugar.lugar.imagen" class="responsive-img" alt="">
                  </div>
                  <h5 class="center">{{lugar.lugar.nombre}}</h5>
                  <p class="text-center datos">{{lugar.lugar.especialidad}}</p>
                  <p class="text-center datos">{{lugar.lugar.lugar}}</p>
                  <p class="text-center datos">{{lugar.lugar.direccion}}</p>
                  <p class="estrellas"><star-rating [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" [rating]="lugar.promedio"></star-rating></p>
                  <p class="text-center datos">{{lugar.contador}}<i class="material-icons i-personas">people</i></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!--   Restaurantes oriental!   -->
    <div class="row row-cards" *ngIf="oriental">
      <div *ngFor="let lugar of servicioService.lugares.respuesta">
        <div class="col s12 m4" *ngIf="lugar.lugar.especialidad=='Oriental'">
          <a href="javascript:;" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="mostrarLugar(lugar)">
            <div class="card z-depth-3">
              <div class="card-content">
                <div class="icon-block">
                  <div class="imagenes">
                    <img [src]="lugar.lugar.imagen" class="responsive-img" alt="">
                  </div>
                  <h5 class="center">{{lugar.lugar.nombre}}</h5>
                  <p class="text-center datos">{{lugar.lugar.especialidad}}</p>
                  <p class="text-center datos">{{lugar.lugar.lugar}}</p>
                  <p class="text-center datos">{{lugar.lugar.direccion}}</p>
                  <p class="estrellas">
                    <star-rating [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" [rating]="lugar.promedio"></star-rating>
                  </p>
                  <p class="text-center datos">{{lugar.contador}}<i class="material-icons i-personas">people</i></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--   Restaurantes italiana!   -->
    <div class="row row-cards" *ngIf="italiana">
      <div *ngFor="let lugar of servicioService.lugares.respuesta">
        <div class="col s12 m4" *ngIf="lugar.lugar.especialidad=='Italiana'">
          <a href="javascript:;" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="mostrarLugar(lugar)">
            <div class="card z-depth-3">
              <div class="card-content">
                <div class="icon-block">
                  <div class="imagenes">
                     <img [src]="lugar.lugar.imagen" class="responsive-img" alt="" height="125px">
                  </div>
                  <h5 class="center">{{lugar.lugar.nombre}}</h5>
                  <p class="text-center datos">{{lugar.lugar.especialidad}}</p>
                  <p class="text-center datos">{{lugar.lugar.lugar}}</p>
                  <p class="text-center datos">{{lugar.lugar.direccion}}</p>
                  <p class="estrellas">
                    <star-rating [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" [rating]="lugar.promedio"></star-rating>
                  </p>
                  <p class="text-center datos">{{lugar.contador}}<i class="material-icons i-personas">people</i></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Modal Trigger -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="img-modal">
            <img [src]="modal.lugar.imagen" class="responsive-img" alt="">
          </div>
          <p class="center mb-0">{{modal.lugar.tipo}}</p>
          <h5 class="center mb-0">{{modal.lugar.nombre}}</h5>
          <p class="estrellas"><star-rating [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" [rating]="modal.promedio"></star-rating></p>
          <p class="text-center datos">{{modal.contador}}<i class="material-icons i-personas">people</i></p>

          <p class="datos"><b>Especialida:</b> {{modal.lugar.especialidad}}</p>
          <p class="datos"><b>Direccion:</b> {{modal.lugar.direccion}}, Barrio {{modal.lugar.lugar}}, {{modal.lugar.ciudad}}</p>
          <ul>
            <p class="datos"><b>Horarios:</b>
            <li class="horario"><b>Lunes: </b><span class="lunes">{{modal.lugar.horarios?.lunes}}</span></li>
            <li class="horario"><b>Martes: </b><span class="martes">{{modal.lugar.horarios?.martes}}</span></li>
            <li class="horario"><b>Miercoles: </b><span class="miercoles">{{modal.lugar.horarios?.miercoles}}</span></li>
            <li class="horario"><b>Jueves: </b><span class="jueves">{{modal.lugar.horarios?.jueves}}</span></li>
            <li class="horario"><b>Viernes: </b><span class="viernes">{{modal.lugar.horarios?.viernes}}</span></li>
            <li class="horario"><b>Sabado: </b><span class="sabado">{{modal.lugar.horarios?.sabado}}</span></li>
            <li class="horario"><b>Domingo: </b><span class="domingo">{{modal.lugar.horarios?.domingo}}</span></li>
          </ul>
          <p class="datos"><b>Contacto:</b></p>
          <ul>
            <li class="horario"><b>Telefono: </b><span>{{modal.lugar.telefono}}</span></li>
            <li class="horario"><b>Página: </b><a target="_blank" [href]="modal.lugar.web">Facebook</a></li>
            <li class="horario"><b>Correo: </b><span>{{modal.lugar.correo}}</span></li>
          </ul>
          <p class="datos"><b>Descripcion: </b>{{modal.lugar.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

