<div class="container" id="clasificacion">
  <div class="section">
    <h3 class="center-align">{{title}}</h3>

    <!--   tipos!   -->
    <div class="row" *ngIf="tipos">
      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurantes($mostrarR)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Restaurantes</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="bares($mostrarB)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Bares</h5>
                <p class="light">Encuentra todos las opciones en bares de toda la ciudad y sus respectivas especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="cafes($mostrarC)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Cafés</h5>
                <p class="light">Encuentra todos las opciones en cafés de toda la ciudad y sus respectivas especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--   especialidadR!   -->
    <div class="row" *ngIf="especialidadR">
      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurante1($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Parrilla</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurante2($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Oriental</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurante3($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Italiana</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

        <!--   especialidadB!   -->
    <div class="row" *ngIf="especialidadB">
      <div class="col s12 m4">
        <a href="javascript:;" (click)="bar1($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Cervezas</h5>

                <p class="light">Encuentra todos las opciones en bares de toda la ciudad y sus respectivas especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;" (click)="bar2($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Cocteles</h5>
                <p class="light">Encuentra todos las opciones en bares de toda la ciudad y sus respectivas especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;" (click)="bar3($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Vinos</h5>
                <p class="light">Encuentra todos las opciones en bares de toda la ciudad y sus respectivas especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

        <!--   especialidadC!   -->
    <div class="row" *ngIf="especialidadC">
      <div class="col s12 m4">
        <a href="javascript:;" (click)="cafe1($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Cafés de especialidad</h5>
                <p class="light">Encuentra todos las opciones en cafés de toda la ciudad y sus respectivas especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;" (click)="cafe2($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Reposterias</h5>
                <p class="light">Encuentra todos las opciones en cafés de toda la ciudad y sus respectivas especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;" (click)="cafe3($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Chocolate</h5>
                <p class="light">Encuentra todos las opciones en cafés de toda la ciudad y sus respectivas especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

        <!--   Restaurantes parrilla!   -->
    <div class="row" *ngIf="parrilla">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Asados la 80</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Casa Blanca</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Denver</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

            <!--   Restaurantes oriental!   -->
    <div class="row" *ngIf="oriental">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Sarku Japan</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Kabuki</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Wakame</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

            <!--   Restaurantes italiana!   -->
    <div class="row" *ngIf="italiana">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Parmessano</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Nino e Pastino</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Il Forno</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

            <!--   bares de cervezas!   -->
    <div class="row" *ngIf="cerveza">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Bogota Beer Company</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Hooters</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Medellin beer factory</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

            <!--   bares de vinos!   -->
    <div class="row" *ngIf="vino">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Sarku Japan</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Kabuki</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Wakame</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

            <!--   Bares de cocteles!   -->
    <div class="row" *ngIf="coctel">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Parmessano</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Nino e Pastino</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">       
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Il Forno</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

<!--   cafes de especialidad!   -->
    <div class="row" *ngIf="especialidad">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Pergamino</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Velvet</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Starbucks</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

            <!--   cafes de reposteria!   -->
    <div class="row" *ngIf="reposteria">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Astor</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Panaderia Suiza</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Arte Dolce</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

            <!--   cafes de chocolate!   -->
    <div class="row" *ngIf="chocolate">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Parmessano</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Nino e Pastino</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    
      <div class="col s12 m4">
        <a href="javascript:;">       
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Il Forno</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>


