<div class="container" id="clasificacion">
  <div class="section">
    <a class="btn-floating btn-small waves-effect waves-light red right" *ngIf="retroceder" (click)="atras($atras)"><i
        class="material-icons">reply</i></a>
    <a class="btn-floating btn-small waves-effect waves-light red left" *ngIf="inicio" (click)="reinicio($reiniciar)"><i
        class="material-icons">reply_all</i></a>
    <h3 class="center-align">{{title}}</h3>

    <!--   tipos!   -->
    <div class="row" *ngIf="tipos">
      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurantes($mostrarR)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Restaurantes</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="bares($mostrarB)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Bares</h5>
                <p class="light">Encuentra todos las opciones en bares de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="cafes($mostrarC)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Cafés</h5>
                <p class="light">Encuentra todos las opciones en cafés de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--   especialidadR!   -->
    <div class="row" *ngIf="especialidadR">
      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurante1($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Parrilla</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurante2($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Oriental</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;" (click)="restaurante3($especialidad)">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/restaurates.jpg" class="responsive-img" alt="">
                <h5 class="center">Italiana</h5>
                <p class="light">Encuentra todos las opciones en restaurantes de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--   especialidadB!   -->
    <div class="row" *ngIf="especialidadB">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Cervezas</h5>

                <p class="light">Encuentra todos las opciones en bares de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Cocteles</h5>
                <p class="light">Encuentra todos las opciones en bares de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/bares2.jpg" class="responsive-img" alt="">
                <h5 class="center">Vinos</h5>
                <p class="light">Encuentra todos las opciones en bares de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--   especialidadC!   -->
    <div class="row" *ngIf="especialidadC">
      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Cafés de especialidad</h5>
                <p class="light">Encuentra todos las opciones en cafés de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Reposterias</h5>
                <p class="light">Encuentra todos las opciones en cafés de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="javascript:;">
          <div class="card z-depth-3">
            <div class="card-content">
              <div class="icon-block">
                <img src="../../../assets/imagenes/cafes.jpg" class="responsive-img" alt="">
                <h5 class="center">Chocolate</h5>
                <p class="light">Encuentra todos las opciones en cafés de toda la ciudad y sus respectivas
                  especialidades.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--   Restaurantes parrilla!   -->
    <div class="row row-cards" *ngIf="parrilla">
      <div *ngFor="let lugar of servicioService.lugares.respuesta">
        <div class="col s12 m4" *ngIf="lugar.lugar.especialidad=='Parrilla'">
          <a href="javascript:;">
            <div class="card z-depth-3">
              <div class="card-content">
                <div class="icon-block">
                  <div class="imagenes">
                    <img [src]="lugar.lugar.imagen" class="responsive-img" alt="">
                  </div>
                  <h5 class="center">{{lugar.lugar.nombre}}</h5>
                  <p class="light">{{lugar.lugar.descripcion}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!--   Restaurantes oriental!   -->
    <div class="row" *ngIf="oriental">
      <div *ngFor="let lugar of servicioService.lugares">
        <div class="col s12 m4" *ngIf="lugar.especialidad=='Oriental'">
          <a href="javascript:;">
            <div class="card z-depth-3">
              <div class="card-content">
                <div class="icon-block">
                  <img [src]="lugar.imagen" class="responsive-img" alt="">
                  <h5 class="center">{{lugar.nombre}}</h5>
                  <p class="light">{{lugar.descripcion}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--   Restaurantes italiana!   -->
    <div class="row" *ngIf="italiana">
      <div *ngFor="let lugar of servicioService.lugares">
        <div class="col s12 m4" *ngIf="lugar.especialidad=='Italiana'">
          <a href="javascript:;">
            <div class="card z-depth-3">
              <div class="card-content">
                <div class="icon-block">
                  <img [src]="lugar.imagen" class="responsive-img" alt="" height="125px">
                  <h5 class="center">{{lugar.nombre}}</h5>
                  <p class="light">{{lugar.descripcion}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Modal Trigger -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
  </div>
</div>

