<div class="container" id="ranking">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h3>Ranking</h3>
        <table class="striped responsive-table">
            <thead>
              <tr>
                  <th class="text-left">Nombre</th>
                  <th class="text-left">Tipo</th>
                  <th class="text-left">Especialidad</th>
                  <th class="text-left">Direccion</th>
                  <th class="text-left">Lugar</th>
                  <th class="center-align">Calificacion</th>
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let lugar of servicioService.lugares.respuesta; let i=index">
                <td *ngIf="i<5">{{lugar.lugar?.nombre}}</td>
                <td *ngIf="i<5">{{lugar.lugar?.tipo}}</td>
                <td *ngIf="i<5">{{lugar.lugar?.especialidad}}</td>
                <td *ngIf="i<5">{{lugar.lugar?.direccion}}</td>
                <td *ngIf="i<5">{{lugar.lugar?.lugar}}</td>
                <td *ngIf="i<5" class="center-align"><star-rating [starType]="'svg'" [showHalfStars]="true" [readOnly]="true" [rating]="lugar.promedio"></star-rating></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

